header{
    .input{
        border-bottom: 1px solid $pale-gray;
        padding-bottom: 1rem;
        align-self: flex-end;
        margin-right: 2.6rem;
        input{
            color: $grayish-gray;
            border: none;
            outline: none;
            width: 7rem;
            margin-left: .5rem;
            transition: width .1s linear;
            background-color: transparent;
            &::placeholder {
                color: $grayish-gray;
            }

            &.focused{
                width: 15rem;
            }
        }
    }
}